@use "variables" as *;
@use "sass:meta";

*,
html,
body,
*::after,
*::before,
*::placeholder {
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

:root {
  --primary-text-color: #{$almostBlack};
  --body-background: #{$almostWhite};
  --header-background: #{$white};
}

[data-dark-theme="true"] {
  --primary-text-color: #{$white};
  --body-background: #{$veryDarkBlue};
  --header-background: #{$darkBlue};
}

body {
  background-color: var(--body-background);
  font-family: #{meta.inspect($primaryFontFamily)};
}

main {
  background-color: var(--body-background);
}

h1 {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;

  color: var(--primary-text-color);

  @media screen and (min-width: 64rem) {
    font-size: 1.5rem;
    line-height: 2.0625rem;
  }
}
