@use "variables" as *;
@use "sass:meta";

*,
html,
body,
*::after,
*::before,
*::placeholder {
  box-sizing: border-box;
  transition-property: background-color, color, fill, stroke, opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  padding: 0;
  margin: 0;
}

:root {
  --primary-text-color: #{$almostBlack};
  --body-background: #{$almostWhite};
  --header-background: #{$white};
}

[data-dark-theme="true"] {
  --primary-text-color: #{$white};
  --body-background: #{$veryDarkBlue};
  --header-background: #{$darkBlue};
}

body {
  font-family: #{meta.inspect($primaryFontFamily)};
}

main {
  background-color: var(--body-background);
  padding-bottom: 65px;
  min-height: 100vh;
}

h1 {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;

  color: var(--primary-text-color);

  @media screen and (min-width: 64rem) {
    font-size: 1.5rem;
    line-height: 2.0625rem;
  }
}

ul {
  list-style: none;
}

// Utilities
.container {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
